<div class="index-top-row filtered-top-row">
  <div class="index-cell-title">
    <h1>Transactions filtered by category: "<%= @category.name %>"</h1>
    <p>Shows only transactions with the category "<%= @category.name %>"</p>
  </div>
  <div class="index-cell-add-button">
    <a href="/transactions" class="button" >Show all transactions</a>
  </div>
</div>

<div class="transaction-list-grid">
  <div class="cell">
    <p>Amount (£)</p>
  </div>
  <div class="cell">
      <p>Category</p>
  </div>
  <div class="cell">
  </div>
  <div class="cell">
    <p>Seller</p>
  </div>
  <div class="cell">
    <p>Date/Time</p>
  </div>
  <div class="cell">
  </div>
  <div class="cell">
  </div>
  <div class="cell">
  </div>
  <% for transaction in @transactions %>
  <% category = transaction.find_category %>
  <% seller = transaction.find_seller if transaction.seller_id != nil %>
    <div class="cell">
      <p><%= '%.2f' % transaction.amount %></p>
    </div>
    <div class="cell">
      <p>
        <%= category.name if category.name != 'None' %>
      </p>
    </div>
    <div class="cell" style="background-color: <%= category.colour %>;">
    </div>
    <div class="cell">
      <p>
        <%= seller.name if seller.name != 'None' %>
      </p>
    </div>
    <div class="cell">
      <p><%= transaction.transaction_time_formatted %></p>
    </div>
    <div class="cell">
      <a href="/transactions/detail/<%= transaction.id %>" class="button" >View Transaction</a>
    </div>
    <div class="cell">
      <a href="/transactions/edit/<%= transaction.id %>" class="button" >Update Transaction Details</a>
    </div>
    <div class="cell">
      <a href="/transactions/delete/<%= transaction.id %>" class="button" >Remove Transaction</a>
    </div>
  <% end %>
</div>
