<h1>Transactions</h1>

<a href="/transactions/new">+ Add New Transaction</a>

<div class="grid">
  <% for transaction in @transactions %>
  <% category = transaction.find_category if transaction.category_id != nil %>
  <% seller = transaction.find_seller if transaction.seller_id != nil %>
  <div class="grid-row">
    <div class="cell">
      <p><%= transaction.amount %></p>
    </div>
    <div class="cell">
      <p>
        <%= if transaction.category_id = ""
              nil
            else
              category.name
            end %>
      </p>
    </div>
    <div class="cell">
      <p>
        <%= if transaction.seller_id = ""
              nil
            else
              seller.name
            end %>
      </p>
    </div>
    <div class="cell">
      <p><%= transaction.transaction_time_formatted %></p>
    </div>
    <div class="cell">
      <a href="/transactions/detail/<%= transaction.id %>">View</a>
    </div>
    <div class="cell">
      <a href="/transactions/edit/<%= transaction.id %>">Edit</a>
    </div>
    <div class="cell">
      DELETE
    </div>
  </div>
  <% end %>
</div>
