<div class="index-top-row">
  <div class="index-cell-title">
    <h1>Detailed Transaction View</h1>
  </div>
  <div class="index-cell-add-button">
    <a href="/transactions" class="button">View all transactions</a>
  </div>
</div>


<p>
  £<%= '%.2f' % @transaction.amount %>
</p>

<p>
  <%= @transaction.description %>
</p>

<p>
  <%= @category.name if @category.name != 'None' %>
</p>

<p>
  <%= @seller.name if @seller.name != 'None' %>
</p>

<p>
  <%= @transaction.transaction_time_formatted %>
</p>

<a href="/transactions/edit/<%= @transaction.id %>">Update Transaction Details</a>

<a href="/transactions/delete/<%= @transaction.id %>">Remove Transaction</a>

<br><br>

<a href="/transactions/new">Add New Transaction</a>
